<table class="table table-hover">
	<thead>
		<tr>
			<th class="">Nombre</th>
			<th class="">Email</th>
			<th class="">Acciones</th>
		</tr>
	</thead>
	<tbody>
		<% if @users_tfc.blank? %>
		<tr>
			<td class="text-center"	colspan="2"><%= t('attributes.no_content_yet') %></td>
			
		</tr>
		<% else %>
		<% @users_tfc.each do |u| %>
		<tr>
			<td><%= u.name %></td>
			<td><%= u.email %></td>
			<td>
				<%= link_to t('buttons.edit'), edit_admin_user_path(u), class: 'btn btn-primary' %>
				<%= link_to t('buttons.delete'), admin_user_path(u), method: :delete, data: { confirm: 'Seguro que quieres eliminar este usuario?' }, :remote => true, class: "btn btn-danger delete_attach" %>	
			</td>
		</tr>
		<% end %>
		
		
		<% end %>
	</tbody>
</table>